body, html {
  text-align: center;
  font-family: sans-serif;
  background: rgb(238,174,174);
  background: linear-gradient(168deg, rgba(238,174,174,1) 0%, rgba(30,64,105,1) 100%);
  color: black;
  display: block;
}

.MainPage {
  min-height: 100%;
  position: relative;
  height: 1750px;
}

.LandingPage {
  min-height: 100%;
  position: relative;
  height: 95vh;
}
