body, html {
  text-align: center;
  font-family: sans-serif;
  background: rgb(238,174,174);
  background: linear-gradient(168deg, rgba(238,174,174,1) 0%, rgba(40,74,115,1) 100%);
  color: black;
  display: block;
  overflow: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
